# Secrets
.env
venv

# Database related
*.db*
*.sql*

# Remove cached files
__pycache__/

# Hide IDE specific files
.vscode/

# Remove logs
logs/*

# Remove test files
tests/*

# Remove database
./data/users/*
./data/guilds/*